@media (max-width: 420px) {
    header
    {
        display: none;
        position:fixed;
        justify-content:space-between;
        
    }
}


@media (max-width: 319px) {
    header
    {
        display: none;
        position:fixed;
        justify-content:space-between;
        
    }
}

* {
	box-sizing: border-box;
	margin: 10px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    color: rgb(39, 39, 39);
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

.content {
    display: flex;
    flex-direction: column;
   text-align: center;
}
.ll {

border-radius: 1px;
display: inline-block;
text-align:center;
}

h1,h3, h4 {
    text-align: center;
}

footer {
        margin: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-align: center;
}

.footer_list{
    background-color: rgba(1, 100, 100, 0.521);
    margin: 0;
    align-items: center;
    display: flex;
}

header {
    position :relative;
    margin-top: 20px;
    height: 70px;
    display: flex;
   
       
}
a {
    text-decoration: none;
    
  }

a:hover {
    font-size: larger;
    color: white;
    background-color: rgba(1, 100, 100, 0.521);
  }


.icon_rsschool {
    display: block;
    background-image: url(https://rs.school/images/rs_school_js.svg);
    background-size: cover;
    width: 80px;
    height: 30px;
    margin-left: 47%;
}


.my_skills {
    border: 1px solid rgba(0, 0, 0, 0.226);
    height: 100px;
    overflow-y: scroll;
    overflow-x: hidden;}

#img1, #img2 {
    width: 60px;
}

#img_prof {
    width: 300px;
    display:block;
    margin:auto;
    border-radius: 30px;
}
